<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea odio illo dignissimos nobis vitae delectus alias
            officiis facilis excepturi, distinctio saepe quos soluta earum voluptatum nihil tempora praesentium maxime.
            Quam!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea odio illo dignissimos nobis vitae delectus alias
            officiis facilis excepturi, distinctio saepe quos soluta earum voluptatum nihil tempora praesentium maxime.
            Quam!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea odio illo dignissimos nobis vitae delectus alias
            officiis facilis excepturi, distinctio saepe quos soluta earum voluptatum nihil tempora praesentium maxime.
            Quam!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>